.create-user-container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-user-container h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 6px;
    font-weight: 500;
    color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
}

button[type="submit"] {
    padding: 10px 18px;
    background-color: #007bff;  
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 67%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.btn.secondary {
    padding: 10px 18px;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: 1%;
}       

.btn.secondary:hover {
    background: #e1e1e1;
}

.success-message {
    margin: 10px auto;
    padding: 12px 18px;
    border: 1px solid #2ecc71;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #2ecc71;
    background: #eafff3;
    width: fit-content;
    animation: popIn 0.4s ease-out;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.err-message {
    margin: 10px auto;
    padding: 12px 18px;
    border: 1px solid #eb5252;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #eb5252;
    background: #ffeaea;
    width: fit-content;
    animation: popIn 0.4s ease-out;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}