<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

<div class="app-container">
  <!-- Mobile top bar -->
  <header class="mobile-topbar">
    <button class="menu-toggle" (click)="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </header>

  <!-- Sidebar -->
  <aside class="sidebar" [class.active]="isMenuOpen">
    <div class="sidebar-header">
      <img class="logo-square" src="https://angular.io/assets/images/logos/angular/angular.png" alt="Angular Logo">
    </div>

    <!-- <ul class="menu">
      <li>
        <a routerLink="/after-login" routerLinkActive="active" (click)="closeMenu()">
          <i class="fa-solid fa-user-plus"></i> After Login
        </a>
      </li>
      <li>
        <a routerLink="/createuser" routerLinkActive="active" (click)="closeMenu()">
          <i class="fa-solid fa-user-plus"></i> Create User
        </a>
      </li>
      <li>
        <a routerLink="/createnewticket" routerLinkActive="active" (click)="closeMenu()">
          <i class="fa-solid fa-ticket"></i> Create Ticket
        </a>
      </li>
    </ul> -->

    <ul class="menu">
      <li *ngFor="let item of menuItems">
        <a [routerLink]="['/', item.Name]" routerLinkActive="active" (click)="closeMenu()">
          <i [class]="item.Logo"></i> {{ item.LableName }}
        </a>
      </li>
    </ul>

    <hr class="mobile-divider" />

    <div class="nav-right mobile-only">
      <div class="user-info">
        <span class="username">{{ UserEmail }} 👋</span>
      </div>
      <div class="actions">
        <button (click)="gotoprofile()" class="profile-btn">
          <i class="fa-solid fa-user"></i>
        </button>
        <button (click)="gotoDashboard()" class="logout-btn">
          <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </div>
    </div>
  </aside>



  <main class="content" (click)="closeMenu()">

    <header class="navbar">

      <div class="logo"></div>

      <div class="nav-right desktop-only">
        <span class="username">Welcome {{ UserEmail }} 👋</span>
        <button (click)="gotoprofile()" class="profile-btn">
          <i class="fa-solid fa-user"></i>
        </button>
        <button (click)="gotoDashboard()" class="logout-btn">
          <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </div>
    </header>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </main>
</div>